
<div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
      <h1 class="text-center mt-5">Add Category</h1>
        <form action="" method="">
            <div class="form-group">
                <label>Name</label>
                <input type="text" name="name" class="form-control" required>
            </div>
            <div class="form-group">
                <label>Description</label>
                <textarea name="description" class="form-control" required></textarea>
            </div>
            <div class="form-group">
                <label>Select thumbnail</label>
                <input type="file" name="thumbnail" class="form-control-file" accept="image/*" required>
            </div>
            <input type="submit" class="btn btn-primary" value="Upload">
        </form>
    </div>
    <div class="col-md-3"></div>
</div>
